html{
    font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%
}
body{
    margin:0
}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{
    display:block
}
audio,canvas,progress,video{
    display:inline-block;vertical-align:baseline
}
body{
    font-family:"Times New Roman",Helvetica,Arial,sans-serif;
    font-size:18px;line-height:1.42857143;
    color: white;
}

.pic{
  width: 50%;
  height: 40px;
  margin-top: 2px;
}
.soImg{
  width: 7%;
  height: auto;
  margin-left: auto;
  position: relative;
  visibility: hidden;
  }
.pBtn{
  position: relative; width: 15px; height: auto;
}
#songname {
    line-height: 5px;
    top: -50%;
    width: 100%;
}
a { color: white;}

#bottom_nav {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-bottom: 0px;
  margin-top: 20px;
}
