/* Hint: use relative measurements you'll find them useful! */

@import url("https://fonts.googleapis.com/css?family=Monoton");  /* Set this for Monoton...figure out their syntax */

* {
    box-sizing: border-box;
}

/*
 * Set Background to a png file and make 
 * it fixed
 */
body {
  background-image: url("background.png");
  background-attachment: fixed;
}

/*
 *  Set border to the main and set the attribute
 *  of border such as background color and margin
 */
main {
  border: 10px solid;
  -webkit-border-image: url(./border.gif) 30 round;
  -o-border-image: url(./border.gif) 30 round;
  border-image: url(./border.gif) 30 round;
  margin: 0 200px;
  background-color: white;

}
/*header {
}*/
header {
  /*-webkit-text-stroke: 1px red;*/
    /* display:inline-flex; */
    margin-top: 30px;
}

/*
 * Drawing css logo.
 * We technically just draw a oval background for
 * the text css first. Then, we set the text-decoration
 * to none to make the text without a look of hyperlink
 */
.logo{
    margin: 20px;
    background: #ff80d5;
    padding: 10px 20px 10px 20px;

	-moz-border-radius: 80%;
    -webkit-border-radius: 80%;
    border-radius: 80%;
    
    font-size: 50px;
    font-family: 'Monoton';
    font-weight: "bold";
    color: black;
    box-shadow: 0px 5px 5px #4f4f4f;
    text-decoration: none;
}

/*
 * We split the windows width checking by 1001.
 * If we detect the windows size is smaller than
 * 1001 we set the text its fun align to left.
 * Otherwise, to the right.
 * 
 * For the reflection only on the desktop, we use 
 * box-reflect and put linear-gradient for making 
 * the reflection fade into transparent.
 * 
 * Set the characters to uppercase and set the
 * windows shadows.
 */
@media only screen and (min-width: 1001px){
    .fun {
        margin-top: -70px;
        line-height: .70em;
        margin-bottom: 70px;
        color: white;
        font-size: 85px;
        /*left, bottom, bottom2, right, top shadows*/
        text-shadow: -3px 0 #eb6661, 0 3px 0px #eb6661, 0 5px 2px #eb6661, 3px 0 #eb6661, 0 -2px 1px #eb6661 ;
        font-family: "Courier New";
        text-transform: uppercase;
        text-align: right;
        -webkit-box-reflect: below 0 linear-gradient(transparent, white);
    }
}
@media only screen and (max-width: 1000px){
    .fun {
            margin-top: 30px;
            margin-bottom: 10px;
            color: white;
            font-size: 85px;
            /*left, bottom, bottom2, right, top shadows*/
            text-shadow: -3px 0 #eb6661, 0 3px 0px #eb6661, 0 5px 2px #eb6661, 3px 0 #eb6661, 0 -2px 1px #eb6661 ;
            font-family: "Courier New";
            text-transform: uppercase;
            text-align: left;
    }
}
/* Custom kerning 
 *
 * Setting the spacing between letter closer
 */
#kern1, #kern2, #kern3 {
    letter-spacing:-0.2em;
}

/*
 *  Set the background color to yellow first
 *  Then, set section as a flex for its children
 *  to reverse order by using column-reverse.
 */
section {
    background-color: rgb(243,234,95);
    position: relative;
    display: flex;
    display: -webkit-flex;
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
    margin: 15px;
}

/*
 *  Set the font attribute
 */
section > div {
    /* font is 'Comic Sans MS, text is automatically adjusted to lowercase do not mod the HTML */
    font-family: "Comic Sans MS";
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-transform: lowercase;
}

/*
 *   Set Color.
 *
 *   Set the alignment of the first and third texts
 *   and set the width to the 50% of the width of 
 *   section.
 */
section > div:nth-child(1),div:nth-child(3) {
    /* ANastNthChildSelectorToWrite means what it says it isn't an indetifier */
    /* background color is  rgb(192,77,249) */
    width: 50%;
    background-color: rgb(192,77,249);
    padding-left: 10px;
    align-self: flex-end;

}

/*
 *   Set Color and text alignment.
 *
 *   Set the alignment of the second and fourth texts
 *   and set the width to the 50% of the width of
 *   section as well.
 */
section > div:nth-child(2),div:nth-child(4){
    /* ANastNthChildSelectorToWrite means what it says it isn't an indetifier */
    /* background color is  rgb(43,209,252) */
    width: 50%;
    background-color: rgb(43,209,252);
    padding-right: 10px;
    text-align: right;
    height:30px;
}

/*
 *  For mobile, reverse some of the setting
 *  and set text-alignment to center
 */
@media only screen and (max-width: 861px) {
    section > div:nth-child(1),div:nth-child(3) {
        width: 100%;
        background-color: rgb(192,77,249);
        padding-right: 10px;
        text-align: center;
    }

    section > div:nth-child(2),div:nth-child(4){
        width: 100%;
        background-color: rgb(43,209,252);
        padding-left: 10px;
        text-align: center;
    }
}

  /*
   *  Add content to child 3 of section
   */
  section > div:nth-child(3):after {
    content: " ♥♥♥";
  }



	/* a freebie for fun */
aside {
    background: rgb(255,63,63);
    color: white;
    border: 1rem solid black;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 3rem;
    border-bottom-left-radius: 3rem;
    font-family: sans-serif;
    font-size: 2rem;
    /*margin: 1rem 0;*/
    padding: 1rem;
    text-align: center;
    margin: 15px;
}


/*
 * Set bug's color to white
 */
path {
  fill: white;
}

/*
 * Set bug's box height and width
 */
svg {
  height: 45px;
  width: 45px;
}

/*
 *  Set animation of the bug during
 *  hovering.
 *  For color changing part,
 *  we simply changed the brightness
 *  of the bug.
 */
svg:hover {
    animation-name: spin;
    animation-duration: 2s;
    animation-timing-function: linear;
    -webkit-animation-name: spin;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 2s;
    -moz-animation-timing-function: linear;
}
@-moz-keyframes spin {
  0%   {       transform:scale(1) rotate(0deg);    }
  10%  {       transform:scale(5) rotate(0deg);    }
  70%  {       transform: scale(5) rotate(1080deg); filter: brightness(1)  }
  100% {       transform: scale(1) rotate(1080deg); filter: brightness(0); }
}
@-webkit-keyframes spin {
    0%   {       transform:scale(1) rotate(0deg);    }
    10%  {       transform:scale(5) rotate(0deg);    }
    70%  {       transform: scale(5) rotate(1080deg); filter: brightness(1)  }
    100% {       transform: scale(1) rotate(1080deg); filter: brightness(0); }
}
@keyframes spin {
    0%   {       transform:scale(1) rotate(0deg);    }
    10%  {       transform:scale(5) rotate(0deg);    }
    70%  {       transform: scale(5) rotate(1080deg); filter: brightness(1); }
    100% {       transform: scale(1) rotate(1080deg); filter: brightness(0); }
}

/*
 *    Draw footer
 */
footer {
  display: block;
  background-color: #ff80d5;
  padding: 0;
  /*height: 100%;*/
  height: 160px;
  margin-top: 10%;
  padding-top: 10px;
  font-family: "lucida calligraphy";
}

/*
 *  Set img attribute of cat
 */
img {
  height: 100px;
  display: block;
  margin: 0 auto;
}

div + span {
  display: block;
  text-align: center;
  position: relative;
  bottom: 10px;
  /*padding: 100px;*/

}

footer div span {
  /*margin-left: 500px;*/
  opacity: 0;
}

/*
 * After hovering over the cat,
 * the meow dispears.
 */
footer div:hover span:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -20%;
  margin-top: 8px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right:10px solid;
}

/*
 * Set the footer hovering attribute
 * and draw border
 */
footer div:hover span{
  opacity: 1;
  display: block;
  margin-left: 60%;
  padding-top: 0%;
  padding-bottom: 0%;
  top: -80px;
  position: relative;
  width: 70px;
  height: 40px;
  text-align: center;
  line-height: 30px;
  background-color: #fff;
  border: 4px solid black;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 1px 1px 2px #888;
}


/* Solution given should be below 250 lines, solution we had was below 200 easily */
