html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}
body{
font-family:"Times New Roman",Helvetica,Arial,sans-serif;
font-size:18px;line-height:1.42857143;
color: white;
/*background-color:#fff;*/
}


.pic{
  width: 34%;
  margin-top: 2px;
  left:7%;
}

.soImg{
  width: 7%;
  height: auto;
  margin-left: auto;
  position: relative;
}
.pBtn{
  position: absolute; visibility: hidden;
}

a { color: white;}
